.block-page-section {

	[data-toggle="collapse"] {
		color: $body-color;
		text-decoration: none;

		&[aria-expanded="true"],
		&[aria-expanded="false"] {
			&::before {
				content: ' ';
				display: inline-block;
				width: 2.25rem;
				height: 2.25rem;
				background-color: red;
				border-radius: 100%;
			}
		}

		&[aria-expanded="true"] {
			&::before {
			}
		}

		&[aria-expanded="false"] {
			&::before {
			}

		}
	}
}
