.block-tweets {
	padding-top: 2.9375rem; //47px;
	padding-bottom: 3.4375rem; //55px
	background-color: transparentize($merino, .5);

	.tweet-text {
		margin-bottom: 0.4375rem; //7px
	}

	.tweet-datetime {
		@extend .h5;
		display: block;
		text-decoration: none;
	}
}
