.badge {
	color: $white;
	line-height: 1rem;
}

.badge-clean50 {
	background-color: $blue;
}

.badge-clean16 {
	background-color: $green;
}

.badge-emerging-leader {
	background-color: $waikawa-gray;
}
