.carousel {
}

.carousel-indicators {
	margin: 0;
	justify-content: start;

	li {
		border-radius: 50%;
		opacity: 1;
		background-color: $gray-300;

		&.active {
			background-color: $body-color;
		}
	}
}

.sponsors-carousel {
	&.has-indicators {
		.carousel {
			padding-bottom: 30px;
		}
	}

	.carousel__title {
		font-weight: $font-weight-bold;
		font-size: 0.75rem; // 12px
		line-height: 1rem; // 16px
		margin-bottom: 0.5625rem; // 9px
	}

	.sponsor__logo {
		margin-bottom: 0.5rem; // 8px
	}

	.sponsor__description {
		font-size: 0.75rem; // 12px
		line-height: 1rem; // 16px
	}
}
