.carousel {
	padding-bottom: 30px;
}

.carousel-indicators {
	margin: 0;
	justify-content: start;

	li {
		border-radius: 50%;
		opacity: 1;
		background-color: $gray-300;

		&.active {
			background-color: $body-color;
		}
	}
}
