// $h1-font-size: $font-size-base * 2.25; // 36px
// $h2-font-size: $font-size-base * 1.5; // 24px
// $h3-font-size: $font-size-base; // 16px
// $h4-font-size: $font-size-base; // 16px
// $h5-font-size: $font-size-base * 0.75; // 12px;
// $h6-font-size: $font-size-base * 0.75; // 12px;

h4,
.h4 {
	font-weight: $font-weight-medium;
}

h6,
.h6 {
	font-weight: $font-weight-normal;
}

.article-label {
	@extend .h6;
	margin-bottom: 0.25rem; //4px
	color: $body-color;
}

.article-read-more {
	@extend .h5;
	display: block;
	text-decoration: underline;
}
