.post-type-archive-project {
	.intro {
		padding-top: 2rem;
		margin-bottom: 2rem;
	}

	.filters {
		margin-bottom: 3.375rem; //54px
	}

	.header {
		margin-bottom: 2.875rem; //46px
	}

	.carousel__title {
		font-weight: $font-weight-normal;
	}

	.carousel-item {
		.sponsor__logo {
			float: left;
			margin: 0 $grid-gutter-width $grid-gutter-width 0;
		}
	}
}

.single-project {
	.feature-image {
		margin-bottom: 3rem; //48px;

		.figure-caption {
			padding-top: 0.5625rem; //9px
		}

	}

	.award {
		margin-bottom: 3.125rem; //50px
	}

	.sponsor {
		margin-bottom: 2.5rem; //40
	}

	.leads {
		margin-bottom: 2.5rem; //40
	}

	.links {
		margin-bottom: 2.5rem; //40
	}

}
