.site-header {
	//height: 92px;
	position: relative;

	.navbar {
		z-index: $zindex-fixed;
	}

	.hamburger {
		transform: translateX(15px);
	}
}

.boulders {
	z-index: -1;
	width: 100%;
	overflow-x: hidden;

	.boulder-1,
	.boulder-2 {
		z-index: -1;
		position: absolute;
	}

	.boulder-1 {
		height: 430.73px;
		width: 817.63px;
		opacity: 0.14;
		fill: $blue;
		right: 50%;
		top: 100%;
		transform: scaleX(-1) translate(-225px, 0);
		@include media-breakpoint-up(lg) {
			top: 0;
			transform: scaleX(-1) translate(-225px, -116px);
		}
	}

	.boulder-2 {
		height: 370px;
		width: 708px;
		fill: $merino;
		opacity: 0.75;
		left: 50%;
		top: 100%;
		transform: translate(-200px, 229px);
		@include media-breakpoint-up(lg) {
			top: 0;
			transform: translate(-200px, 120px);
		}
	}
}
